<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Cormorant+Infant|Poppins|Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">    
    <link rel="stylesheet" href="assets/css/styles.css">
    {{!-- <base href="http://localhost:3000/"> --}}
    <title>Caleb Crum's Portfolio</title>
  </head>

  <body>
    <div id="top-of-page" class="scrollspy" style="display: none;"></div>
    <div class="">
      <h2 style="margin-bottom: 5px; margin-top: 25px" class="center-align"><span class="red-text">C</span><span class="amber-text">a</span><span class="green-text">l</span><span class="blue-text">e</span><span class="red-text">b</span> <span class="amber-text">C</span><span class="green-text">r</span><span class="blue-text">u</span><span class="red-text">m</span></h2>
    </div>

    {{!-- Use later, when themes are finished --}}
    {{!-- <div style="margin-bottom: 0px" class="row">
      <div id="theme-div" class="col s12 m4 l4 xl4 offset-m4 offset-l4 offset-xl4">
        <i class="material-icons hoverable center-align amber-text arrows tooltipped" data-position="bottom" data-tooltip="Change Theme">arrow_back</i>
        <h4 id="theme-heading" class="center-align"><span class="green-text">Color</span> <span class="blue-text">Theme</span></h4>
        <i class="material-icons hoverable center-align red-text arrows tooltipped" data-position="bottom" data-tooltip="Change Theme">arrow_forward</i>
      </div>
    </div> --}}

    <div id="main-container-body" class="container"> 
          {{{ body }}} 
    </div>

    <div class="row nav-row">
      <div class="col s12">
        <ul id="bottom-tabs" class="tabs">
          <li class="tab col s4 m4 l4 xl4 hoverable"><a class="active amber-text" href="#top-of-page">Home</a></li>
          <li class="tab col s4 m4 l4 xl4 hoverable"><a href="#start-of-portfolio" class="red-text" >Portfolio</a></li>
          <li class="tab col s4 m4 l4 xl4 hoverable"><a href="#start-of-comments" class="green-text">Comments</a></li>
        </ul>
      </div>
      
      {{!-- USE LATER IF POSSIBLE --}}
      {{!-- <i class="material-icons center-align amber-text">home</i>
      <i class="material-icons center-align red-text">palette</i>
      <i class="material-icons center-align green-text">comment</i> --}}


    </div>

    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>            
    <script src="https://kit.fontawesome.com/9159ad21b3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="assets/js/darkTheme.js"></script>
    <script src="assets/js/script.js"></script>
  </body>

</html>