
{{!-- ABOUT ME SECTION --}}

<div class="row">
  <div class="col">
    <h4 class="underlined-heading amber-text">About Me</h4>
    <p class="underlined-text green-text">
      Level-headed, easy going, and inquisitive.
Full-Stack Web Developer, who leans toward back-end work, successful in collaborative team environments and enjoys producing creative long-term solutions. Proven experience developing web applications using all technologies in SERN and MERN stacks. 
    </p>
  </div>
</div>

<div style="margin-bottom: 0px" class="row">
  <div class="col s12 l6 img-col">
    <img id="picture-of-self" src="./assets/img/medicMe.png" alt="Headshot of Caleb Crum" class="tooltipped" data-position="bottom" data-tooltip="Me when I worked as a Medic">
  </div>
  <div class="col s12 l6 button-col">
    <div><button class='modal-trigger hoverable col-button waves-effect red tooltipped' data-position="bottom" data-tooltip="Email" data-target="modal1" ><i class="fas fa-3x fa-envelope green-text"></i></button></div>
    <div> <form style='display: inline' target='_blank' action="https://github.com/ccrum292" method='get'><button class='hoverable col-button waves-effect amber tooltipped' data-position="bottom" data-tooltip="GitHub"><i class='fab fa-3x fa-github blue-text'></i></button></form></div>
    <div><form style='display: inline' target='_blank' action="https://www.linkedin.com/in/caleb-crum/" method='get'><button class='hoverable col-button waves-effect green tooltipped' data-position="bottom" data-tooltip="Linkedin"><i class='fab fa-3x fa-linkedin-in red-text'></i></button></form></div>
    <a href="./assets/pdf/Caleb-Crum-Resume.pdf" download="Caleb-Crum-Resume"><button class="hoverable col-button waves-effect blue tooltipped" data-position="bottom" data-tooltip="Download Resume"><i class="fas fa-3x fa-file amber-text"></i></button></a>
  </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Email</h4>
    <p id="email-address">ccrum292@gmail.com</p>
    <button class="hoverable copy-button">Copy to Clipboard</button>
  </div>
  <div class="modal-footer">
    <a href="" class="modal-close waves-effect waves-green btn-flat">Exit</a>
  </div>
</div>


{{!-- PORTFOLIO SECTION --}}
<div id="start-of-portfolio" class="scrollspy" style="display: none;"></div>
<div class="row">
  <div class="col l12">
    <h4 class="underlined-heading right-align red-text">Projects</h4>
    <p class="underlined-text2 right-align amber-text">
      Slide the panels below to see project pictures and descriptions.
    </p>
  </div>
</div>

<div class="row">
  <div data-position="top" data-tooltip="Drag Panel Left or Right" class="col carousel carousel-slider center first-project-carousel tooltipped">
    <div class="carousel-item white-text active carousel-item-1a" href="">
    </div>
    <div class="carousel-item amber white-text carousel-item-div" href="#two!">
      <h2>Exquisite Corpse</h2>
      <p class="white-text carousel-text">The objective of this project was to produce a quirky web app that allows creative writers to connect and collaborate on fun, wacky, stories.</p>
      <h6>Incorporated Technologies</h6>
      <div class="row">
        <i data-position="bottom" data-tooltip="HTML5" class="fab fa-2x tooltipped fa-html5"></i>
        <i data-position="bottom" data-tooltip="CSS3" class="fab fa-2x tooltipped fa-css3"></i>
        <i data-position="bottom" data-tooltip="JavaScript" class="fab fa-2x tooltipped fa-js-square"></i>
        <i data-position="bottom" data-tooltip="Node.js" class="fab fa-2x tooltipped fa-node"></i>
        <i data-position="bottom" data-tooltip="MySQL" class="fas fa-2x tooltipped fa-database"></i>
        <i data-position="bottom" data-tooltip="Sequelize & Express" class="fas fa-2x tooltipped fa-server"></i>
      </div>
      <div class="row carousel-button-1"><div class="col s3 m3 l3 xl3"></div><div class="col s6 m6 l6 xl6 center-align"><form style='display: inline' target='_blank' action="http://play-exquisite-corpse.herokuapp.com/" method='get'><button class='btn hoverable col-button waves-effect blue tooltipped' data-position="bottom" data-tooltip="play-exquisite-corpse.herokuapp.com">View</button></form></div></div>
      <div class="row carousel-button-1"><div class="col s3 m3 l3 xl3"></div><div class="col s6 m6 l6 xl6 center-align"><form style='display: inline' target='_blank' action="https://github.com/ccrum292/exquisite-corpse" method='get'><button class='btn hoverable col-button waves-effect blue tooltipped' data-position="bottom" data-tooltip="GitHub Repository"><i class='fab fa-github white-text'></i></button></form></div></div>
      
    </div>
    <div class="carousel-item green white-text carousel-item-1b" href="#three!">
    </div>
    <div class="carousel-item blue white-text carousel-item-1c" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
</div>

<div class="row">
  <div data-position="top" data-tooltip="Drag Panel Left or Right" class="col carousel carousel-slider center second-project-carousel tooltipped">
    <div id="carousel-item-1" class="carousel-item white-text active" href="">
      {{!-- <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p> --}}
      {{!-- <img style="z-index: -1; width: 75%; padding: 10px; margin: 30px" src="assets/img/exquisite-art-homepage.gif" alt="gif of moving webpage"> --}}
    </div>
    <div class="carousel-item amber white-text carousel-item-div" href="#two!">
      <h2>Exquisite Corpse</h2>
      <p class="white-text carousel-text">The objective of this project was to create a quirky web app that alows creative writers to connect and collaborate with each other to create fun, wacky, stories and have a laugh in the process.</p>
      <h6>Incorporated Technologies</h6>
      <div class="row">
        <i data-position="bottom" data-tooltip="HTML5" class="fab fa-2x tooltipped fa-html5"></i>
        <i data-position="bottom" data-tooltip="CSS3" class="fab fa-2x tooltipped fa-css3"></i>
        <i data-position="bottom" data-tooltip="JavaScript" class="fab fa-2x tooltipped fa-js-square"></i>
        <i data-position="bottom" data-tooltip="Node.js" class="fab fa-2x tooltipped fa-node"></i>
        <i data-position="bottom" data-tooltip="MySQL" class="fas fa-2x tooltipped fa-database"></i>
        <i data-position="bottom" data-tooltip="Sequelize and Express" class="fas fa-2x tooltipped fa-server"></i>
      </div>
      <div class="row carousel-button-1"><div class="col s3 m3 l3 xl3"></div><div class="col s6 m6 l6 xl6 center-align"><form style='display: inline' target='_blank' action="http://play-exquisite-corpse.herokuapp.com/" method='get'><button class='btn hoverable col-button waves-effect blue tooltipped' data-position="bottom" data-tooltip="play-exquisite-corpse.herokuapp.com">View</button></form></div></div>
      <div class="row carousel-button-1"><div class="col s3 m3 l3 xl3"></div><div class="col s6 m6 l6 xl6 center-align"><form style='display: inline' target='_blank' action="https://github.com/ccrum292/exquisite-corpse" method='get'><button class='btn hoverable col-button waves-effect blue tooltipped' data-position="bottom" data-tooltip="GitHub Repository"><i class='fab fa-github white-text'></i></button></form></div></div>
      
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
</div>

<div class="row">
  <div data-position="top" data-tooltip="Drag Panel Left or Right" class="col carousel carousel-slider center third-project-carousel tooltipped">
    <div id="carousel-item-1" class="carousel-item white-text active" href="">
      {{!-- <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p> --}}
      {{!-- <img style="z-index: -1; width: 75%; padding: 10px; margin: 30px" src="assets/img/exquisite-art-homepage.gif" alt="gif of moving webpage"> --}}
    </div>
    <div class="carousel-item amber white-text carousel-item-div" href="#two!">
      <h2>Exquisite Corpse</h2>
      <p class="white-text carousel-text">The objective of this project was to create a quirky web app that alows creative writers to connect and collaborate with each other to create fun, wacky, stories and have a laugh in the process.</p>
      <h6>Incorporated Technologies</h6>
      <div class="row">
        <i data-position="bottom" data-tooltip="HTML5" class="fab fa-2x tooltipped fa-html5"></i>
        <i data-position="bottom" data-tooltip="CSS3" class="fab fa-2x tooltipped fa-css3"></i>
        <i data-position="bottom" data-tooltip="JavaScript" class="fab fa-2x tooltipped fa-js-square"></i>
        <i data-position="bottom" data-tooltip="Node.js" class="fab fa-2x tooltipped fa-node"></i>
        <i data-position="bottom" data-tooltip="MySQL" class="fas fa-2x tooltipped fa-database"></i>
        <i data-position="bottom" data-tooltip="Sequelize and Express" class="fas fa-2x tooltipped fa-server"></i>
      </div>
      <div class="row carousel-button-1"><div class="col s3 m3 l3 xl3"></div><div class="col s6 m6 l6 xl6 center-align"><form style='display: inline' target='_blank' action="http://play-exquisite-corpse.herokuapp.com/" method='get'><button class='btn hoverable col-button waves-effect blue tooltipped' data-position="bottom" data-tooltip="play-exquisite-corpse.herokuapp.com">View</button></form></div></div>
      <div class="row carousel-button-1"><div class="col s3 m3 l3 xl3"></div><div class="col s6 m6 l6 xl6 center-align"><form style='display: inline' target='_blank' action="https://github.com/ccrum292/exquisite-corpse" method='get'><button class='btn hoverable col-button waves-effect blue tooltipped' data-position="bottom" data-tooltip="GitHub Repository"><i class='fab fa-github white-text'></i></button></form></div></div>
      
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
</div>





{{!-- COMMENTS --}}
<div id="start-of-comments" class="scrollspy" style="display: none;"></div>
<div class="row">
  <div class="col">
    <h4 class="green-text">Comments</h4>
    <p class="underlined-text3 blue-text">
      Feel free to leave a comment below.
    </p>
  </div>
</div>

<div style="margin-bottom: 0px" class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="input_text" type="text" data-length="30">
        <label class="amber-text" for="input_text">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea2" class="materialize-textarea" data-length="300"></textarea>
        <label class="green-text" for="textarea2">Textarea</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6 xl6">
        <button style="width: 100%" id="submitComment" class="hoverable waves-effect tooltipped blue" data-position="bottom" data-tooltip="Submit Comment">
          <i class="fas fa-3x fa-plus amber-text"></i>
        </button>
      </div>
    </div>
  </form>
</div>


