/* -------------------------------- */
/* All */
h2, 
h4 {
  color: #ee6e73;
}
.nav-row {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* padding-bottom: 0px; */
  margin-bottom: 2px;
  opacity: 85%;
  z-index: 3;
}

i {
  cursor: pointer;

}

.arrows,
#theme-heading {
  display: inline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ee6e73;
  opacity: 75%;
  border-radius: 4px;
}

.underlined-text {
  border-bottom: 1px solid #ee6e73;
  color: #ee6e73;
  padding-bottom: 5px;
}

img {
  /* height: 70%;
  width: 70%; */
  border-radius: 4px;
  
}

.img-col {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.col-button {
  width: 100%;
}

button {
  cursor: pointer;
  border-radius: 4px;
  /* display: block; */
}

.button-col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#theme-div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.tab {
  border-radius: 4px;
}

#bottom-tabs, .carousel-fixed-item {
  display: flex;
  justify-content: space-between;
}

/* -------------------------------- */
/* Dark Theme (DT) */



/* -------------------------------- */
/* 80's Theme (80) */



/* -------------------------------- */
/* Windows 95 Theme (Win95) */



/* -------------------------------- */
/* Spaceman Theme (SP) */



/* -------------------------------- */
/* Sketch Theme (SK) */



/* -------------------------------- */